<html>
  <head>
    <title>Martini Plz</title>
  </head>
  
  <body>
    <!-- Render the current template here -->
    {{ yield }}

    <h3> End UserList </h3>
    <a href="/index.html">입력으로 돌아가기</a>
  </body>
</html>
